:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff9564aa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.inputfield {
  border-radius: 22px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #646cff;
}

.send {
  background-color: #1a1a1a;
  color: #ffffff;
}

.send:hover {
  background-color: #646cff;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.play {
  width: 3.5em;
  border-radius: 50%;
}

.next {
  width: 1.2em;
  margin: 0 1em;
}

.previous {
  width: 1.2em;
  margin: 0 1em;
  rotate: 180deg;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player img:hover {
  background-color: #646cff;
  border-radius: 22px;
}

.playlist {
  /* Up left */
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: #1a1a1a;
  border-radius: 0 0 22px 0;
  z-index: 1;
}
.clear {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #1a1a1a;
  border-radius: 0 0 0 22px;
  z-index: 1;
}

.playlist-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre l'avatar et le texte */
}

.avatar {
  border-radius: 50%;
  width: 50px; /* Réduisez la taille de l'avatar pour la playlist */
  height: 50px;
}

.volumeContainer img {
  width: 2em;
  margin-left: 3em;
}

.volumeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  width: 50em;
  height: 0.5em;
}

.progress-bar {
  background-color: #141414;
  width: 50em;
  height: 0.5em;
  position: relative;
  border-radius: 22px;
}

.progressing-bar {
  background-color: #646cff;
  height: 0.5em;
  border-radius: 22px;
  width: 5px;
  position: absolute;
}